header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  .headerBar {
    background-color: #000;
    color: #FFF;
    height: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;

    .headerLogo {
      padding-left: 10px;
    }
  }

  .hamburguer {
    cursor: pointer;
    padding: 0 5px;
    width: 30px;
    justify-self: end;

    .bar1, .bar2, .bar3 {
      width: 30px;
      height: 4px;
      background-color: #DDD;
      margin: 5px 0;
      transition: 0.4s;
    }
  }

  // Add the 'change' class to each bar to make it animated, turning it into an 'X'
  .hamburguerClose {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-5px, 6px);
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .bar2 {opacity: 0;}
    .bar3 {
      -webkit-transform: rotate(45deg) translate(-7px, -8px);
      transform: rotate(45deg) translate(-7px, -8px);
    }
  }

  .menu {
    display: block;
    background-color: #DDD;

    button {
      border: none;
      padding: 10px 0;
      border-bottom: solid 1px #000;
      background-color: transparent;
      width: 100%;
      font-size: 20px;
    }

  }
  .menuHidden {
    display: none;
  }
}

.newsSection {
  padding-top:35px;
  overflow: hidden;

  .news_separator_component {
    text-decoration: none;
    color:#1A1A1A;

    .news_separator_container {
      display: flex;

      .news_separator_image { background-color: red; }
      .news_separator_title { background-color: blue; }
    }
  }

  .news_item_component {
    text-decoration: none;
    color:#1A1A1A;

    .news_item_container {
      padding: 20px 10px 20px 10px;
      border-bottom: 1px solid #ddd;
    }
    h1 {
      font-size: 17px;
      font-family: 'Georgia, serif';
      color: #1A1A1A;
    }
    .news_item_content {
      font-size: 12px;
    }
  }
}

.settings {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #d4e3ca;
  padding: 40px;
}

.about {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #e4cbf5;
  /* background-color: #F4B400; */
  padding: 40px;
}
